:root {
  .rs-theme-light {
    @primary-color: #00bcd4;
    @border-radius: 2px;
    @font-family-base: "Lucida Grande", "Avenir Next", "Helvetica Neue",
      Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
      STXihei, sans-serif;
    @font-size-base: 14px;
    --rs-body: #00bcd4;
    --rs-input-bg: #eee;
    --rs-sidebar-bg: #00bcd4;
    --rs-content-bg: #80ddff;
    --rs-list-bg: #eee;
  }
  .rs-theme-dark {
    --rs-body: #888;
    --rs-input-bg: #555;
    --rs-list-bg: #555;
    --rs-content-bg: #347196;
  }
  .rs-container {
    p {
      margin: 5px;
      background-color: var(--rs-bg-default);
      color: var(--rs-text-default);
    }
    ul {
      margin-left: 100px;
      text-decoration: none;
      list-style: none;
    }
    li {
      line-height: 30px;
      background-color: var(--rs-bg-default);
      color: var(--rs-text-default);
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 5px;
      padding: 10px;
    }
    &:first-child {
      min-height: 100vh;
    }
    .rs-header,
    .rs-content,
    .rs-footer,
    .rs-sidebar {
      text-align: center;
    }

    .rs-header,
    .rs-footer {
      line-height: 56px;
      background-color: #59afff;
    }
    .rs-content {
      background-color: var(--rs-content-bg);
      .rs-stack {
        padding: 5rem;
      }
    }
    .rs-sidebar {
      line-height: 120px;
    }
  }

  .rs-calendar-table-row {
    .rs-calendar-table-cell:first-child,
    .rs-calendar-table-cell:last-child {
      color: var(--rs-text-disabled);
      &::before {
        display: none;
      }
    }
  }

  .rs-calendar-table-cell-disabled {
    &::before {
      display: none;
    }
    .rs-calendar-table-cell-content {
      text-decoration: none;
    }
  }
}
